.calendar {
	top: 2rem;
	position: relative;
	padding: 2rem;
	right: -45%;
	width: 50rem;
	height: fit-content;
	background: var(--color-background-secondary);
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem var(--color-light-primary);
}

.calendar h4 {
	text-align: right;
	font-size: 1.9rem;
	color: var(--text-strong);
}

.calendar h4 span {
	display: inline-block;
	margin-right: 1rem;
	text-transform: lowercase;
}

#month-select {
	font-size: 1.6rem;
	padding: 0.5rem 2rem 0.3rem 1rem;
	border: 1px solid var(--color-light-primary);
	color: var(--color-white);
	background: var(--color-background-secondary);
	text-align: left;
	margin-top: 0.5rem;
	margin-left: 2rem;
	border-radius: 0.3rem;
	text-transform: lowercase;
}

#month-table {
	border-collapse: collapse;
	font-family: sans-serif;
	margin-top: 1rem;
	width: 100%;
	font-size: 25px;
	text-align: center;
	height: 80%;
}

#month-table thead td {
	font-size: 1.2rem;
	text-align: center;
	opacity: 50%;
}

#month-table thead td:first-child {
	color: var(--color-light-primary);
}

#month-table td {
	height: 5rem;
	width: 2.5rem;
}

#month-table label {
	padding: 1.2rem;
	font-size: 1.6rem;
	cursor: pointer;
	border-radius: 10%;
	user-select: none;
	transition: all 50ms;
}

#month-table tbody td:first-child label {
	color: var(--color-light-primary);
	opacity: 80%;
}

#month-table label:has(input:checked) {
	background-color: var(--color-light-primary);
	color: var(--color-black) !important;
}

#month-table label:hover{
	box-shadow: 0 0 9px var(--color-light-primary);
}

#month-table td input {
	display: none;
}
