@import url(../../../global/styles/index.css);
@import url(./calendar.css);
@import url(./events.css);

.intro {
	height: 50vh;
}

.intro h1 {
	margin-top: 30vh;
	font-size: 8rem;
	line-height: 7rem;
	margin-bottom: 2rem;
}

.intro p {
	text-indent: 5rem;
	width: 40rem;
}

.intro a {
	margin-top: 1.5rem;
	display: inline-block;
	font-size: 2rem;
	background-color: var(--color-light-primary);
	color: var(--text-strongest);
	padding: 0 2rem;
	max-width: fit-content;
	border-radius: 10rem;
	user-select: none;
	text-shadow: 0 0 0.5rem var(--color-black);
}

.intro a:hover {
	filter: brightness(110%);
}

.intro i {
	font-size: 2.5rem;
	color: var(--color-white);
}

.schedule h3, .personal h3 {
	text-align: right;
	font-size: 3rem;
}

.schedule, .personal {
	padding-top: 10rem;
	height: 100vh;
}


