<header class="navbar">
	<h1>
		<a href="#intro" tabindex="0" aria-roledescription="menuitem"
			>Frontend - 2025/2</a
		>
	</h1>
	<nav>
		<ul>
			<li>
				<a href="#schedule" tabindex="0" aria-roledescription="menuitem"
					>Lessons</a
				>
			</li>
			<li>
				<a href="" tabindex="0" aria-roledescription="menuitem"
					>Personal</a
				>
			</li>
			<li>
				<a
					href="http://www.github.com/nicolas121221"
					target="_blank"
					tabindex="0"
					aria-roledescription="menuitem"
					title="github/nicolas121221"
					>Github</a
				>
			</li>
		</ul>
	</nav>
</header>
